@{
    ViewData["Title"] = " تایید ایمیل کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 60px;height: 428px;"> 
    <h1>تایید ایمیل شما با موفقیت انجام شد </h1>
    <h2>ممنون</h2>
    <p>برای رفتن به <a href="/Profile/Index">صفحه پروفایل</a> کلیک کنید</p>
</div>