@model Mag.Models.Dto.Profile.PUserEditDto
@{
    ViewData["Title"] = " ویراریش پروفایل کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Navbar-->
        <!--end::Navbar-->
        <!--begin::پایه info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::کارت header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expوed="true" aria-controls="kt_account_profile_details">
                <!--begin::کارت title-->
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">ویرایش پروفایل</h3>
                </div>
                <!--end::کارت title-->
            </div>
            <!--begin::کارت header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form action="/Profile/Edit" method="post" enctype="multipart/form-data" id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    <!--begin::کارت body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Tags-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">عکس کاربر</label>
                            <!--end::Tags-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Image input-->
                                @if (Model.PicAddress == null)
                                {
                                    <div class="image-input image-input-outline image-input-empty" data-kt-image-input="true" style="background-image: url('assets/media/svg/avatars/blank.svg')">
                                        <!--begin::نمایش existing avatar-->
                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: none;"></div>
                                        <!--end::نمایش existing avatar-->
                                        <!--begin::Tags-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="تعویض آواتار" data-bs-original-title="تعویض آواتار" data-kt-initialized="1">
                                            <i class="ki-duotone ki-pencil fs-7">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <!--begin::Inputs-->
                                        <input type="file" name="File" asp-for="PicAddress" accept=".png,.jpg,.jpeg,.gif" />
                                            <input type="hidden" name="avatar_remove" value="1">
                                            <!--end::Inputs-->
                                    </label>
                                        <!--end::Tags-->
                                        <!--begin::انصراف-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="انصراف avatar" data-bs-original-title="انصراف avatar" data-kt-initialized="1">
                                            <i class="ki-duotone ki-cross fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                        <!--end::انصراف-->
                                        <!--begin::حذف-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="حذف آواتار" data-bs-original-title="حذف آواتار" data-kt-initialized="1">
                                            <i class="ki-duotone ki-cross fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                        <!--end::حذف-->
                                </div>
                                    <!--end::Image input-->
                                }
                                else
                                {
                                    <div class="image-input image-input-outline image-input-empty" data-kt-image-input="true" style="background-image: url('@Model.PicAddress')">
                                        <!--begin::نمایش existing avatar-->
                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: none;"></div>
                                        <!--end::نمایش existing avatar-->
                                        <!--begin::Tags-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="تعویض آواتار" data-bs-original-title="تعویض آواتار" data-kt-initialized="1">
                                            <i class="ki-duotone ki-pencil fs-7">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <!--begin::Inputs-->
                                        <input type="file" name="File" asp-for="PicAddress" accept=".png,.jpg,.jpeg,.gif" />
                                            <input type="hidden" name="avatar_remove" value="1">
                                            <!--end::Inputs-->
                                    </label>
                                        <!--end::Tags-->
                                        <!--begin::انصراف-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="انصراف avatar" data-bs-original-title="انصراف avatar" data-kt-initialized="1">
                                            <i class="ki-duotone ki-cross fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                        <!--end::انصراف-->
                                        <!--begin::حذف-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="حذف آواتار" data-bs-original-title="حذف آواتار" data-kt-initialized="1">
                                            <i class="ki-duotone ki-cross fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                        <!--end::حذف-->
                                </div>
                                    <!--end::Image input-->
                                }
                                <!--begin::Hint-->
                                <div class="form-text">file types: png, jpg, jpeg.</div>
                                <span asp-validation-for="PicAddress" class="text-danger"></span>
                                <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Tags-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">نام کامل</label>
                            <!--end::Tags-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <input type="hidden" asp-for="Id" />
                                    <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                        <input type="text" asp-for="FirstName" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                        <input type="text" asp-for="LastName" class="form-control form-control-lg form-control-solid">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Tags-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">شماره همراه</label>
                            <!--end::Tags-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                <input type="text" asp-for="PhoneNumber" class="form-control form-control-lg form-control-solid" maxlength="11">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::کارت body-->
                    <!--begin::Actions-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button type="reset" class="btn btn-light btn-active-light-primary me-2">لغو</button>
                        <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">ذخیره تغییرات</button>
                    </div>
                    <!--end::Actions-->
                    <input type="hidden">
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::پایه info-->
        <!--begin::ورود-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::کارت header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_signin_method">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">ویرایش ایمیل و نام کاربری</h3>
                </div>
            </div>
            <!--end::کارت header-->
            <!--begin::Content-->
            <div id="kt_account_settings_signin_method" class="collapse show">
                <!--begin::کارت body-->
                <div class="card-body border-top p-9">
                    <!--begin::ایمیل -->
                    <div class="d-flex flex-wrap align-items-center">
                        <!--begin::Tags-->
                        <div id="kt_signin_email">
                            <div class="fs-6 fw-bold mb-1">ایمیل </div>
                        </div>
                        <!--end::Tags-->
                        <!--begin::-->
                        <div id="kt_signin_email_edit" class="flex-row-fluid d-none">
                            <!--begin::Form-->
                            <form action="/Profile/EditEmail" method="post" id="kt_signin_change_email" class="form" novalidate="novalidate">
                                <input asp-for="Id" type="hidden"></input>
                                <div class="row mb-6">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <div class="fv-row mb-0">
                                            <label for="emailaddress" class="form-label fs-6 fw-bold mb-3"> ایمیل جدید </label>
                                            <input asp-for="NewEmail" type="email" class="form-control form-control-lg form-control-solid" />
                                            <span asp-validation-for="NewEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-0">
                                            <label for="confirmemailpassword" class="form-label fs-6 fw-bold mb-3">تایید ایمیل جدید</label>
                                            <input asp-for="NewEmailConfirm" type="email" class="form-control form-control-lg form-control-solid" />
                                            <span asp-validation-for="NewEmailConfirm" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary me-2 px-6">بروزرسانی ایمیل</button>
                                    <button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6">انصراف</button>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::-->
                        <!--begin::Actions-->
                        <div id="kt_signin_email_button" class="ms-auto">
                            <button class="btn btn-light btn-active-light-primary">تعویض ایمیل</button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::ایمیل -->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-6"></div>
                    <!--end::Separator-->
                    <!--begin::password-->
                    <div class="d-flex flex-wrap align-items-center mb-10">
                        <!--begin::Tags-->
                        <div id="kt_signin_password">
                            <div class="fs-6 fw-bold mb-1">رمز عبور</div>
                        </div>
                        <!--end::Tags-->
                        <!--begin::-->
                        <div id="kt_signin_password_edit" class="flex-row-fluid d-none">
                            <!--begin::Form-->
                            <form action="/Profile/ResetPassword" method="post" id="kt_signin_change_password" class="form" novalidate="novalidate">
                                @if (ViewBag.WrongPass != null)
                                {
                                    <div class="alert alert-danger my-4">
                                        @ViewBag.WrongPass
                                    </div>
                                }
                                @if (ViewBag.SendEmailSucces != null)
                                {
                                    <div class="alert alert-success mt-4">
                                        @ViewBag.SendEmailSucces
                                    </div>
                                }
                                <div class="row mb-1">
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label asp-for="CurrentPassword" class="form-label fs-6 fw-bold mb-3">کلمه عبور فعلی</label>
                                            <input asp-for="CurrentPassword"  type="password" class="form-control form-control-lg form-control-solid" required />
                                            <span asp-validation-for="CurrentPassword"class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label asp-for="NewPassword" class="form-label fs-6 fw-bold mb-3">کلمه عبور فعلی</label>
                                            <input asp-for="NewPassword" type="password" class="form-control form-control-lg form-control-solid" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label asp-for="ConfirmNewPassword" class="form-label fs-6 fw-bold mb-3">کلمه عبور فعلی</label>
                                            <input asp-for="ConfirmNewPassword" type="password" class="form-control form-control-lg form-control-solid" />
                                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-text mb-5">password must be at least 8 character و contain symbols</div>
                                <div class="d-flex">
                                    <button id="kt_password_submit" type="submit" class="btn btn-primary me-2 px-6">بروزرسانی کلمه عبور</button>
                                    <button id="kt_password_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6">انصراف</button>
                                    <div style="margin-right: auto;">
                                        <a href="/Account/ForgetPassword" class="btn btn-dark">تغییر رمز با ارسال ایمیل</a>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::-->
                        <!--begin::Actions-->
                        <div id="kt_signin_password_button" class="ms-auto">
                            <button class="btn btn-light btn-active-light-primary">ریست کلمه عبور</button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::password-->
                </div>
                <!--end::کارت body-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::ورود-->
        <!--begin::اتصال اکانت-->
        <!--end::اتصال اکانت-->
        <!--begin::اعلان ها-->
        <!--end::اعلان ها-->
        <!--begin::اعلان ها-->
        <!--end::اعلان ها-->
        <!--begin::غیرفعال کردن اکانت-->
        <!--end::غیرفعال کردن اکانت-->
    </div>
    <!--end::Content container-->
</div>


<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true" style="margin-left:50px">
    <i class="ki-duotone ki-arrow-up">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
</div>


@section Scripts {
<script src="assets/js/custom/account/settings/signin-methods.js"></script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
