@{
    ViewData["Title"] = " تایید ایمیل کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 60px;height: 428px;"> 
    <h1>تایید حساب کاربری ایمیل</h1>
    <h2>کاربر گرامی لطفا برای تایید حساب کاربری خود بر روی لینکی که برای شما ایمیل شد کلیک نمایید</h2>
</div>