@model Mag.Areas.Admin.Models.Dto.Home.BannersDto
@{
    ViewData["Title"] = "تنظیمات بنر سایت";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">تنظیمات</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::آیتم-->
                <li class="breadcrumb-item text-muted">
                    <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">ادمین</a>
                </li>
                <!--end::آیتم-->
                <!--begin::آیتم-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                </li>
                <!--end::آیتم-->
                <!--begin::آیتم-->
                <li class="breadcrumb-item text-muted">تنظیمات</li>
                <!--end::آیتم-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            تنظیمات بنر
        </h3>
    </div>
    <div class="card-body">
        <div class="row" style="">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center align-items-center" style="height: 673px;box-shadow: 7px 8px 50px #555;max-width: 370px;background-size: cover;border-radius:7px">
                        <div>
                            <p>بنر شماره 1</p>
                            <p>طول 235 پیکسل</p>
                            <p>عرض 675 پیکسل</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center align-items-center" style="height: 140px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:7px">
                            <div>
                                <p>بنر شماره 2</p>
                                <p>طول 994 پیکسل</p>
                                <p>عرض 140 پیکسل</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center align-items-center" style="height: 518px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:15px">
                            <div>
                                <p>بنر شماره 3</p>
                                <p>طول 470 پیکسل</p>
                                <p>عرض 518 پیکسل</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="d-flex justify-content-center align-items-center" style="height: 250px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:15px">
                                    <div>
                                        <p>بنر شماره 4</p>
                                        <p>طول 235 پیکسل</p>
                                        <p>عرض 250 پیکسل</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="d-flex justify-content-center align-items-center" style="height: 250px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:15px">
                                    <div>
                                        <p>بنر شماره 5</p>
                                        <p>طول 235 پیکسل</p>
                                        <p>عرض 250 پیکسل</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <div class="d-flex justify-content-center align-items-center" style="height: 250px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:15px">
                                    <div>
                                        <p>بنر شماره 6</p>
                                        <p>طول 235 پیکسل</p>
                                        <p>عرض 250 پیکسل</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex justify-content-center align-items-center" style="height: 250px;box-shadow: 7px 8px 50px #555;background-size: cover;border-radius:15px">
                                    <div>
                                        <p>بنر شماره 7</p>
                                        <p>طول 235 پیکسل</p>
                                        <p>عرض 250 پیکسل</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <br /><br /><hr /><br /><br />
    <form action="/Admin/Banners" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 1</label>
                                    <input type="file" class="form-control mt-2" name="Banner1" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                @if (Model.Banner1Address != "")
                                {
                                    <div class="symbol symbol-50px">
                                        <img src=~/@Model.Banner1Address alt="بنر1" title="بنر1" />
                                    </div>
                                }
                                else
                                {
                                    <div class="symbol symbol-50px">
                                        <div class="symbol-label fw-semibold bg-danger text-inverse-danger">خالی</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 2</label>
                                    <input type="file" class="form-control mt-2" name="Banner2" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                @if (Model.Banner2Address != "")
                                {
                                    <div class="symbol symbol-50px">
                                        <img src=~/@Model.Banner2Address alt="بنر2" title="بنر2" />
                                    </div>
                                }
                                else
                                {
                                    <div class="symbol symbol-50px">
                                        <div class="symbol-label fw-semibold  text-dark">خالی</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 3</label>
                                    <input type="file" class="form-control mt-2" name="Banner3" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-conyent-center">
                                <div>
                                    <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.Banner3Address != "")
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.Banner3Address alt="بنر3" title="بنر3" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fw-semibold bg-warning text-inverse-danger">خالی</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 4</label>
                                    <input type="file" class="form-control" name="Banner4" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-conyent-center">
                                <div>
                                    <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.Banner4Address != "")
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.Banner4Address alt="بنر4" title="بنر4" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fw-semibold bg-dark text-inverse-danger">خالی</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 5</label>
                                    <input type="file" class="form-control" name="Banner5" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-conyent-center">
                                <div>
                                    <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.Banner5Address != "")
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.Banner5Address alt="بنر5" title="بنر5" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fw-semibold bg-success text-inverse-danger">خالی</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 6</label>
                                    <input type="file" class="form-control" name="Banner6" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-conyent-center">
                                <div>
                                    <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.Banner6Address != "")
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.Banner6Address alt="بنر6" title="بنر6" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fw-semibold bg-primary  text-inverse-danger">خالی</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group pb-4">
                                    <label class="control-label pb-1" style="font-size:16px">بنر شماره 7</label>
                                    <input type="file" class="form-control" name="Banner7" accept=".png,.jpg,.jpeg,.gif" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-conyent-center">
                                <div>
                                    <label class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.Banner7Address != "")
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.Banner7Address alt="بنر7" title="بنر7" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fw-semibold bg-info  text-inverse-danger">خالی</div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <button class="btn btn-primary">ذخیره</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </form>
    <br /><br />
</div>