@model Mag.Models.Dto.Settings.GeneralSettingDto
    
<title>@Model.SiteName</title>
<meta name="description" content="@Model.SeoDescription" />
<link rel="shortcut icon" href="~/@Model.FavIconAddress" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta property="og:locale" content="fa_IR" />
