@model Mag.Areas.Admin.Models.Dto.News.NewsCardDto
@{
    ViewData["Title"] = "لیست اخبار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-8">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            @await Component.InvokeAsync("Card",new { Slug = @Model.Slug ,UserIdVisitor=ViewBag.userIdVisitor})
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/assets/css/Layoutcss/ShowNews.css?v=1">
}
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        function LikeNewsOwnSelf() {
            // console.log("like")
            // $.post("Like/News", { "NewsId": 2 }, function (data) {
            //     alert("success");
            //     alert(data);
            // });
            var CountOfLike = document.getElementById('NumberOfLike').innerHTML
            $.ajax({
                type: "POST",
                url: "Like/News",
                data: { "NewsId": @Model.Id, "CountOfLike": CountOfLike },
                success: function (response) {
                    var separatedValues = response.split(',');
                    const likebtn = document.getElementById('LikeHeart');
                    likebtn.classList = separatedValues[0];
                    const NumberOfLikeSPN = document.getElementById('NumberOfLike');
                    NumberOfLikeSPN.innerHTML = separatedValues[1];
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function NoneOwnSelf() {
            // console.log("like")
            // $.post("Like/News", { "NewsId": 2 }, function (data) {
            //     alert("success");
            //     alert(data);
            // });
            var CountOfLike = document.getElementById('NumberOfLike').innerHTML
            $.ajax({
                type: "POST",
                url: "Like/News",
                data: { "NewsId": @Model.Id , "CountOfLike": CountOfLike },
                success: function (response) {
                    var separatedValues = response.split(',');
                    const likebtn = document.getElementById('LikeHeart');
                    likebtn.classList = separatedValues[0];
                    const NumberOfLikeSPN = document.getElementById('NumberOfLike');
                    NumberOfLikeSPN.innerHTML = separatedValues[1];
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>

    <script>
        function updateCharacterCount() {
            const inputElement = document.getElementById('textInput');
            const charCountLabel = document.getElementById('charCountLabel');
            
            const enteredText = inputElement.value;
            const charCount = enteredText.length;

            charCountLabel.textContent = charCount + '/1000';

            // اگر تعداد کاراکترها بیش از 1000 باشد، محدودیت را اعمال کنید
            if (charCount > 1000) {
                inputElement.value = enteredText.substring(0, 1000);
                charCountLabel.textContent = '1000/1000';
            }
        }

        const buttonPreventlike = document.getElementById('kt_docs_sweetalert_state_warning_for_Like');
        if(buttonPreventlike != null){
            buttonPreventlike.addEventListener('click', e => {
                e.preventDefault();

                Swal.fire({
                    title: 'برای لایک کردن خبر ها ابتدا وارد شوید',
                    width: 380,
                    padding: '3em',
                    color: '#716add',
                    confirmButtonText: "تایید",
                    background: '#fff url(/assets/media/Home/trees.png)',
                    backdrop: `
                            rgba(0,0,123,0.4)
                            url("/images/nyan-cat.gif")
                            left top
                            no-repeat`
                })
            });
        }
    </script>
}