@using Mag.Common
@model Mag.Areas.Admin.Models.Dto.Category.CategoryEditDto
@{
    ViewData["Title"] = "ویرایش دسته بندی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Colors = new string[]
                        {
                "warning","primary","info","success","danger","dark"
                        };
}
<br>
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">ویرایش دسته بندی</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="/admin/category/Edit" method="post" enctype="multipart/form-data">
                    <br>
                    <input asp-for="Id" type="hidden" class="form-control" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="Name" class="control-label pb-1" style="font-size:16px">نام دسته بندی</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="ParentId" class="control-label pb-1" style="font-size:16px">دسته بندی مادر</label>
                                <select asp-for="ParentId" asp-items="Model.CategoryTags" class="form-control form-select" data-control="select2" data-placeholder="دسته بندی خود را وارد کنید"></select>
                                <span asp-for="ParentId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="Description" class="control-label pb-1" style="font-size:16px">توضیحات</label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="PicAddress" class="control-label pb-1 d-block" style="font-size:16px"> عکس موجود</label>
                                    @if (Model.PicAddress != null)
                                    {
                                        <div class="symbol symbol-50px">
                                            <img src=~/@Model.PicAddress alt="@Model.PicAlt" title="@Model.PicTitle" />
                                        </div>
                                    }
                                    else
                                    {
                                        string fName = Model.Name.Substring(0, 1);
                                        var sum = Utility.CalculateAsciiSum(Model.Name);
                                        var Color = Convert.ToInt32(Math.Ceiling((double)sum % 6));
                                        <div class="symbol symbol-50px">
                                            <div class="symbol-label fs-2 fw-semibold bg-@Colors[Color] text-inverse-@Colors[Color]">@fName</div>
                                        </div>

                                    }
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group pb-4">
                                        <label asp-for="PicAddress" class="control-label pb-1" style="font-size:16px"> عکس جدید</label>
                                        <input type="file" name="file" asp-for="PicAddress" class="form-control " accept=".png,.jpg,.jpeg,.gif" />
                                        <span asp-validation-for="PicAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="PicAlt" class="control-label pb-1" style="font-size:16px">Alt عکس</label>
                                <input asp-for="PicAlt" class="form-control" />
                                <span asp-validation-for="PicAlt" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="PicTitle" class="control-label pb-1" style="font-size:16px">Title عکس</label>
                                <input asp-for="PicTitle" class="form-control" />
                                <span asp-for="PicTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-4">
                                <label asp-for="Slug" class="control-label pb-1" style="font-size:16px">لینک(نامک)</label>
                                <input asp-for="Slug" class="form-control" />
                                <span asp-validation-for="Slug" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mt-9">
                                <div class="col-md-6">
                                    <div class="fv-row mb-8 d-flex align-item-center">
                                        <label asp-for="IsShowMainPage" class="control-label pb-1" style="font-size:16px;padding-left: 5px;"></label>
                                        <input type="checkbox" asp-for="IsShowMainPage" class="form-check-input h-30px w-30px" />
                                        <span asp-validation-for="IsShowMainPage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-switch form-check-custom form-check-solid">
                                        <label asp-for="IsActive" class="form-check-label pb-1 pl-1" style="font-size:16px;padding-left: 15px;">
                                            فعال بودن
                                        </label>
                                        <input asp-for="IsActive" class="form-check-input h-30px w-50px" type="checkbox" id="IsActive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                            ویرایش کاربر
                        </button>
                        <!--begin::modal-->
                        <div class="modal fade" tabindex="-1" id="kt_modal_1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">ویرایش دسته بندی</h3>

                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>

                                    <div class="modal-body">
                                        <p>میخواهید این دسته بندی را ویرایش کنید؟</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن</button>
                                        <button type="submit" class="btn btn-success">ثبت تغییرات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::modal-->
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="card-footer">
        <a href="/admin/category/index" style="font-size:18px">بازگشت به لیست</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





