.owl-carousel .snip1493 { 
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.owl-dots {
    text-align: center
}

    .owl-dots span {
        font-size: 20px
    }

.owl-nav {
    text-align: center
}

    .owl-nav span {
        font-size: 20px
    }

.snip1493 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

    .snip1493 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .snip1493:after {
        position: absolute;
        top: 12px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 25px;
        border-color: transparent transparent transparent #d2652d;
        content: '';
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .snip1493 img {
        width:100%; 
        max-width: 100%;
        vertical-align: top;
        position: relative;
        object-fit: cover;
    }

    .snip1493 figcaption {
        padding: 20px 20px 0;
        background-color: #ffffff;
    }


.category {
    background-color: #d2652d;
    top: 15px;
    color: #fff;
    right: 15px;
    min-height: 28px;
    min-width: 68px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* وقتی روی .item هاور شد، کلاس category پدیدار شود */
.item:hover .category {
    opacity: 1;
    transform: translateY(0);
}

.item:hover .snip1493 .like-and-comment {
    opacity: 1;
    transform: translateY(0);
}

.snip1493 .category span {
    display: block;      
    line-height: 14px;
}
      
.snip1493 .category .name {
    font-size: 11px;
}

.snip1493 h3,
.snip1493 p {   
    margin: 0;             
    padding: 0;
}     

.snip1493 h3 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
    min-height:10px
}

.snip1493 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
    min-height:10px
}

.snip1493 footer {
    color: #999999;
    font-size: 0.8em;
    line-height: 50px;
    text-align: right;
    width: 100%;
}
.snip1493 .like-and-comment {
    opacity: 0;
    top: 150px;
    right: 0;
    position: absolute;
    color: #999999;
    font-size: 0.8em;
    line-height: 50px;
    text-align: right;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding-right: 20px;
}
    .snip1493 .like-and-comment .love i{
        margin-right:5px;
    }
    .snip1493 .like-and-comment .comments i {
        margin-right: 5px;
    }

.snip1493 .footer-for-between {
    display: flex !important;
    justify-content: space-between;
    padding: 0 !important;
    width: 100%;
    margin: 0;
    font-size:13px; 
}

        .snip1493 .footer-for-between .pick-name {
            margin-right: -4% !important;
        }

    .snip1493 footer > div {
        display: inline-block;
        margin-right: 15px;
    }

    .snip1493 footer i {
        margin-right: 5px;
        font-size: 1.2em;
    }

.snip1493 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1493:hover:after,
.snip1493.hover:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.imgCardsCategory {
    height: 193px;
    width: 277px;
}
.heading-page {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 10px; 
}

.all-Of-Top {
    height: 450px;
    margin-bottom: 50px !important;
}
.img-top {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.First-Row{
    height: 46%
}
.Secend-Row {
    height: 46%
}

.hover-div {
    position: relative;
}

.hover-div p {
    position: absolute; 
    bottom: 2%;
    left: 4%; 
    border-radius:2px;
    right: 7%;
    width: 85%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* پس زمینه متن */
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 0;
    opacity: 0; /* مخفی کردن متن در ابتدا */
    transition: opacity 0.3s;
}

.hover-div:hover p {
    opacity: 1;
}
@media screen and (max-width: 425px) {
    .snip1493 .footer-for-between {
        font-size: 11px;
    }
}