.Detalis {
    color: gray;
    font-size: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
}
.CategoryLink {
    color: #0075e7;
    font-weight: bold;
}
.CommentsInNews { 
    border-radius: 16px;
    border: 3px solid #ccc !important; 
    padding: 15px 15px;
    margin-bottom: 5px
}
.CommentsInNewsText{
    font-size:13px;
    margin-bottom:0px;
}
.CommentsInNewsDtl {
    font-size: 10px;
    margin-bottom: 0px;
}
.TitleH1 {
    word-spacing: 3px;
    line-height: 40px;
}
.textNews {
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
}
.NewsSummary {
    font-size: 11px;
    word-spacing: 1px;
}
.SpanTag {
    border-radius: 6px;
    padding: 5px;
    background-color: #ddd;
    font-size: 10px;
}
.rectangle {
    width: 10px;
    height: 25px;
    border-radius:3px;
    display:inline-block;
    background: #ff6a00;
    margin-left:6px
}
.BesideRectangle {
    font-size: 18px;
    font-weight: bold;
    color:#070b36
}
.imageForTenCommponent{
    margin-left:10px
}
.TextForTenCommponent { 
    color: #1647d5 ;
    font-size: 12px;
}
.likeSpan {
    cursor:pointer;
    margin-right:7px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .imgNews {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
    }
    .NewsVideo{
        width:600px
    }
    .titleNews {
        margin-top: 0px;
    }
    .NewsVideo {
        width: 310px;
        border-radius: 10px;
    }
    .ad-gif {
        display: none;
    }
    .NewaRelational {
        display:none;
    }
    .LikeColection{
        margin-left:10px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .imgNews {
        width: 420px;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;
    }
    .titleNews {
        margin-top: 0px;
    }
    .NewsVideo {
        width: 340px;
        border-radius: 10px;
    }
    .ad-gif {
        display: none;
    }

    .NewaRelational {
        display:none
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .imgNews {
        width: 309px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
    .VideoAdv {
        width: 100px;
        height: 100px;
    }
    .NewsVideo {
        width: 400px;
        border-radius: 10px;
    }

}
@media (min-width: 1025px) and (max-width: 1200px) {
    .imgNews {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
    .VideoAdv {
        width: 130px;
        height: 130px;
    }
    .NewsVideo {
        width: 465px;
        border-radius: 10px;
    }
}
@media (min-width: 1201px) and (max-width: 1440px) {
    .imgNews {
        width: 600px;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }

    .titleNews {
        margin-top: 100px;
    }

    .VideoAdv {
        width: 160px;
        height: 160px;
    }

    .NewsVideo {
        width: 565px;
        border-radius: 10px;
    }
}
@media (min-width: 1441px) {
    .imgNews {
        width: 600px;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }

    .titleNews {
        margin-top: 100px;
    }

    .VideoAdv {
        width: 180px;
        height: 180px;
    }

    .NewsVideo {
        width: 680px;
        border-radius: 10px;
    }
}